In [1]:
import pandas as pd
import numpy as np

## Load dataset

In [4]:
words_df = pd.read_csv('../data/20210103_hundenamen.csv')
words_df

                         HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                            Ituma              2011               w
1         "Bo" Bendy of Treegarden              2020               m
2            "Bobby" Lord Sinclair              2009               m
3       "Buddy" Fortheringhay's J.              2011               m
4     "Fly" Showring i fly for you              2015               w
...                            ...               ...             ...
8569                     unbekannt              2010               w
8570                     unbekannt              2011               m
8571                     unbekannt              2018               m
8572                     unbekannt              2018               m
8573                     unbekannt              2017               m

[8574 rows x 3 columns]

## Extract all unqiue names

In [8]:
words_df['HUNDENAME'].value_counts() # there are 5192 unqiue names

Luna                    92
Bella                   37
Rocky                   35
Coco                    33
Mia                     33
                        ..
Phoebe vom Wandergut     1
Broccoli                 1
Charo                    1
Stella-Lou               1
Amaya                    1
Name: HUNDENAME, Length: 5192, dtype: int64

In [13]:
names = words_df['HUNDENAME'].unique()
names

array(['Ituma', '"Bo" Bendy of Treegarden', '"Bobby" Lord Sinclair', ...,
       'lamba-Julia', 'Éo', 'unbekannt'], dtype=object)

## Define function to calculate Levenshtein distance

In [21]:
def distance(word1, word2):
    distances = np.zeros((len(word1) + 1, len(word2) + 1))

    for t1 in range(len(word1) + 1):
        distances[t1][0] = t1

    for t2 in range(len(word2) + 1):
        distances[0][t2] = t2

    for t1 in range(1, len(word1) + 1):
        for t2 in range(1, len(word2) + 1):
            if (word1[t1-1] == word2[t2-1]):
                distances[t1][t2] = distances[t1 - 1][t2 - 1]
            else:
                distances[t1][t2] = 1 + min(
                    distances[t1][t2 - 1],
                    distances[t1 - 1][t2],
                    distances[t1 - 1][t2 - 1])

    return distances[len(word1)][len(word2)]

## Find all names close to 'Luca' in a levenshtein distance of 1

In [24]:
for name in names:
    if distance(name, 'Luca') == 1:
        print(name)

Cuca
Lua
Luba
Lucas
Luce
Lucia
Lucy
Lula
Luma
Luna
Lupa
Yuca